.console-type-string {
    color: #008000;
}

.console-type-number, .console-type-bigint {
    color: #a050c0;
}

.console-type-boolean, .console-type-object {
    color: #901010;
}

.console-type-symbol, .console-type-function, .console-type-undefined {
    color: #606060;
}

.console-type-undefined, .console-type-object {
    font-style: italic;
}

.console-clickable {
    cursor: pointer;
}

.console-indent {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2em;
}

.console-getter-error {
    color: #c01010;
}